  
@media only screen and (max-width: 480px) {
    #foodLikeButton{
        font-size: 2.5vw;
    }

    #foodDislikeButton{
        font-size: 2.5vw;
    }

    #foodHelperButton{
        font-size: 2.5vw;
    }

    .foodHeading{
        font-size: 3.5vw;
    }

    .foodList{
        font-size: 3vw;
    }

    .foodHelperText{
        font-size: 2.8vw;
    }

    /* #foodLikeOffcanvas{} */
    /* #foodHelperOffcanvas{} */
    /* #foodDislikeOffcanvas{} */
}

@media only screen and (min-width: 481px) {
    #foodLikeButton{
        font-size: 2.6vw;
    }

    #foodDislikeButton{
        font-size: 2.6vw;
    }

    #foodHelperButton{
        font-size: 2.6vw;
    }

    /* #foodLikeOffcanvas{} */
    /* #foodHelperOffcanvas{} */
    /* #foodDislikeOffcanvas{} */
}

@media only screen and (min-width: 769px) {
    #foodLikeButton{
        font-size: 1.6vw;
    }

    #foodDislikeButton{
        font-size: 1.6vw;
    }

    #foodHelperButton{
        font-size: 1.6vw;
    }

    /* #foodLikeOffcanvas{} */
    /* #foodHelperOffcanvas{} */
    /* #foodDislikeOffcanvas{} */
}

@media only screen and (min-width: 1025px) {
    #foodLikeButton{
        font-size: 1.2vw;
    }

    #foodDislikeButton{
        font-size: 1.2vw;
    }

    #foodHelperButton{
        font-size: 1.2vw;
    }

    /* #foodLikeOffcanvas{} */
    /* #foodHelperOffcanvas{} */
    /* #foodDislikeOffcanvas{} */
}

/*////////////////////*/
/* @media only screen and (min-width: 1201px) {
    #foodLikeButton{
        font-size: 1vw;
    }

    #foodDislikeButton{
        font-size: 1vw;
    }

    #foodHelperButton{
        font-size: 1vw;
    } */

    /* #foodLikeOffcanvas{} */
    /* #foodHelperOffcanvas{} */
    /* #foodDislikeOffcanvas{} */
  /* } */