#foodLikeButton{
    background-color: teal;
}

 #foodDislikeButton{
    background-color: tomato;
}

@media only screen and (max-width: 300px) {

    #foodHelperButton{
        font-size: 3vw;
    }
    #foodHelperTitle{
        font-size: 3.8vw;
        font-weight: 700
    }
    .foodHelperText{
        font-size: 3.5vw;
    }

    .foodHelperHeading{
        font-size: 3.5vw;
    }



    #foodLikeButton{
        font-size: 3vw;
    }
     #foodLikeTitle{
        font-size: 3.8vw;
        font-weight: 700
    }



    .foodHeading{
        font-size: 3.7vw;
    }
    .foodList{
        font-size: 3.5vw;
    }


    
    #foodDislikeButton{
        font-size: 3vw;
        background-color: orangered;
    }
    #foodDislikeTitle{
        font-size: 3.8vw;
        font-weight: 700
    }
}

@media only screen and (min-width: 301px) {

    #foodHelperButton{
        font-size: 2.5vw;
    }
    #foodHelperTitle{
        font-size: 4.2vw;
        font-weight: 700
    }
    .foodHelperText{
        font-size: 3.2vw;
    }
    .foodHelperHeading{
        font-size: 3.2vw;
    }    



    #foodLikeButton{
        font-size: 2.5vw;
    }    
    #foodLikeTitle{
        font-size: 4.2vw;
        font-weight: 700
    }



    .foodHeading{
        font-size: 3.9vw;
    }
    .foodList{
        font-size: 3.5vw;
    }


    #foodDislikeButton{
        font-size: 2.5vw;
    }
    #foodDislikeTitle{
        font-size: 4.2vw;
        font-weight: 700
    }
}

@media only screen and (min-width: 701px) {

    #foodHelperButton{
        font-size: 2vw;
    }

    #foodHelperTitle{
        font-size: 2.5vw;
        font-weight: 700
    }   
    .foodHelperText{
        font-size: 1.7vw;
    }

    .foodHelperHeading{
        font-size: 2vw;
    }

 


    #foodLikeButton{
        font-size: 2vw;
    } 
    #foodLikeTitle{
        font-size: 2.5vw;
        font-weight: 700
    }



    .foodHeading{
        font-size: 2.3vw;
    }

    .foodList{
        font-size: 2vw;
    }




    #foodDislikeButton{
        font-size: 2vw;
    }
    #foodDislikeTitle{
        font-size: 2.5vw;
        font-weight: 700
    }
}

@media only screen and (min-width: 1005px) {
    #foodHelperButton{
        font-size: 1.5vw;
    }    
    #foodHelperTitle{
        font-size: 2vw;
        font-weight: 700
    }
    .foodHelperText{
        font-size: 1.2vw;
    }

    .foodHelperHeading{
        font-size: 1.5vw;
    }



    #foodLikeButton{
        font-size: 1.5vw;
    }
    #foodLikeTitle{
        font-size: 2vw;
        font-weight: 700
    }


    .foodHeading{
        font-size: 2vw;
    }
    .foodList{
        font-size: 1.5vw;
    }    


    #foodDislikeButton{
        font-size: 1.5vw;
    }
    #foodDislikeTitle{
        font-size: 2vw;
        font-weight: 700
    }
  
}

@media only screen and (min-width: 1201px) {
    #foodLikeButton{
        font-size: 1vw;
    }
    #foodHelperButton{
        font-size: 1vw;
    }

    #foodDislikeButton{
        font-size: 1vw;
    }
}

/*////////////////////*/
/* @media only screen and (min-width: 1201px) {
    #foodLikeButton{
        font-size: 1vw;
    }

    #foodDislikeButton{
        font-size: 1vw;
    }

    #foodHelperButton{
        font-size: 1vw;
    } */

    /* #foodLikeOffcanvas{} */
    /* #foodHelperOffcanvas{} */
    /* #foodDislikeOffcanvas{} */
  /* } */