@media only screen and (max-width: 300px) {

  .visitFloatingLabel{
    font-size: 3vw;
  }

  /* .visitFormInput{
    font-size: 1.5vw;
  } */

  #visitFormButton{
    background-color: mediumpurple;
    font-size: 3vw;
    font-weight: 700;
  }
}

@media only screen and (min-width: 301px) {

  .visitFloatingLabel{
    font-size: 3.2vw;
  }

  /* .visitFormInput{
    font-size: 3.5vw;
  } */

  #visitFormButton{
    background-color: mediumpurple;
    font-size: 2.5vw;
    font-weight: 700;
  }

}

@media only screen and (min-width: 501px) {
  .visitFloatingLabel{
    font-size: 2.3vw;
  }

  /* .visitFormInput{
    font-size: 3.7vw;
  } */

  #visitFormButton{
    background-color: mediumpurple;
    font-size: 2.2vw;
    font-weight: 700;
  }

}

@media only screen and (min-width: 701px) {
  .visitFloatingLabel{
    font-size: 1.5vw;
  }

  /* .visitFormInput{
    font-size: 3.7vw;
  } */

  #visitFormButton{
    background-color: mediumpurple;
    font-size: 1.7vw;
    font-weight: 700;
  }

}

@media only screen and (min-width: 1005px) {
  .visitFloatingLabel{
    font-size: 1.3vw;
  }

  /* .visitFormInput{
    font-size: 3.7vw;
  } */

  #visitFormButton{
    background-color: mediumpurple;
    font-size: 1.3vw;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1201px) {
  .visitFloatingLabel{
    font-size: 1vw;
  }
/* 
  .visitFormInput{
    font-size: 3.7vw;
  } */

  #visitFormButton{
    background-color: mediumpurple;
    font-size: 1vw;
    font-weight: 700;
  }
}

