
@media only screen and (max-width: 300px) {

    .readTableItemRead{
        font-size: 2vw;
    }

    #readTableReadTextarea{
        font-size: 2.1vw;
        height: 11vw;
        scrollbar-width: thin;
    }

    .readTableOpinion{
        font-size: 2.5vw;
    }

    #readTableButton{
        font-size: 3vw;
    }

    /* .readTableRecommend{
        font-size: 2.1vw;
    } */
   
    .readTableReadItCheckbox{
        height: 3.3vw;
        width: 3.3vw;
    }

    #readTableTrashButton{
        font-size: 3.5vw;
    }
  }
  
  @media only screen and (min-width: 301px) {

    .readTableItemRead{
        font-size: 2.1vw;
    }

    #readTableReadTextarea{
        font-size: 2.1vw;
        height: 9vw;
        scrollbar-width: thin;
    }

    .readTableOpinion{
        font-size: 2.5vw;
    }

    #readTableButton{
        font-size: 2.5vw;
    }
    /* .readTableRecommend{
        font-size: 2.1vw;
    } */
   
    .readTableReadItCheckbox{
        height: 2.8vw;
        width: 2.8vw;
    }

    #readTableTrashButton{
        font-size: 3vw;
    }
  }
  
  @media only screen and (min-width: 701px) {

    .readTableItemRead{
        font-size: 1vw;
    }

    #readTableReadTextarea{
        font-size: 1vw;
        height: 6vw;
        scrollbar-width: thin;
    }

    .readTableOpinion{
        font-size: 1.4vw;
    }

    #readTableButton{
        font-size: 1.5vw;
    }

    /* .readTableRecommend{
        font-size: 2vw;
    } */
   
    .readTableReadItCheckbox{
        height: 1.5vw;
        width: 1.5vw;
    }

    #readTableTrashButton{
        font-size: 2.2vw;
    }
  }
  
  @media only screen and (min-width: 1001px) {

    .readTableItemRead{
        font-size: 1vw;
    }

    #readTableReadTextarea{
        font-size: 1vw;
        height: 5vw;
        scrollbar-width: thin;
    }

    .readTableOpinion{
        font-size: 1.1vw;
    }

    #readTableButton{
        font-size: 1.2vw;
    }

    /* .readTableRecommend{
        font-size: 1.5vw;
    } */
   
    .readTableReadItCheckbox{
        height: 1.2vw;
        width: 1.2vw;
    }

    #readTableTrashButton{
        font-size: 1.8vw;
    }
  }
  
  @media only screen and (min-width: 1201px) {

    .readTableItemRead{
        font-size: 0.8vw;
    }

    #readTableReadTextarea{
        font-size: 0.8vw;
        height: 3.7vw;
        scrollbar-width: thin;
    }

    .readTableOpinion{
        font-size: 0.9vw;
    }

    #readTableButton{
        font-size: 1vw;
    }

    /* .readTableRecommend{
        font-size: 1.2vw;
    } */

    .readTableReadItCheckbox{
        height: 1vw;
        width: 1vw;
    }

    #readTableTrashButton{
        font-size: 1.5vw;
    }

  }
  