    
@media only screen and (max-width: 480px) {
    #filmLikeButton{
        font-size: 2.5vw;
    }

    #filmDislikeButton{
        font-size: 2.5vw;
    }

    #filmHelperButton{
        font-size: 2.5vw;
    }

    /* #filmLikeOffcanvas{} */
    /* #filmHelperOffcanvas{} */
    /* #filmDislikeOffcanvas{} */
}

@media only screen and (min-width: 481px) {
    #filmLikeButton{
        font-size: 2.6vw;
    }

    #filmDislikeButton{
        font-size: 2.6vw;
    }

    #filmHelperButton{
        font-size: 2.6vw;
    }

    /* #filmLikeOffcanvas{} */
    /* #filmHelperOffcanvas{} */
    /* #filmDislikeOffcanvas{} */
}

@media only screen and (min-width: 769px) {
    #filmLikeButton{
        font-size: 1.6vw;
    }

    #filmDislikeButton{
        font-size: 1.6vw;
    }

    #filmHelperButton{
        font-size: 1.6vw;
    }

    /* #filmLikeOffcanvas{} */
    /* #filmHelperOffcanvas{} */
    /* #filmDislikeOffcanvas{} */
}

@media only screen and (min-width: 1025px) {
    #filmLikeButton{
        font-size: 1.2vw;
    }

    #filmDislikeButton{
        font-size: 1.2vw;
    }

    #filmHelperButton{
        font-size: 1.2vw;
    }

    /* #filmLikeOffcanvas{} */
    /* #filmHelperOffcanvas{} */
    /* #filmDislikeOffcanvas{} */
}

/*////////////////////*/
/* @media only screen and (min-width: 1201px) {
    #filmLikeButton{
        font-size: 1vw;
    }

    #filmDislikeButton{
        font-size: 1vw;
    }

    #filmHelperButton{
        font-size: 1vw;
    } */

    /* #filmLikeOffcanvas{} */
    /* #filmHelperOffcanvas{} */
    /* #filmDislikeOffcanvas{} */
  /* } */