.filmPage{
    background-image: url("./d6ulawk-bc3663ed-9e3c-4ab5-9efb-7d2f9ffd9928.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
    min-height: 75vh
  }
  
  @media only screen and (max-width: 480px) {
    #filmPage1{
      font-size: 4vw;
      font-weight: 900;
      width:65%
    }
  
    .filmPageAccordion{
      font-size: 3.5vw;
      font-weight: 700;
    }
  }

  @media only screen and (min-width: 481px) {

    #filmPage1{
      font-size: 4vw;
      font-weight: 900;
      width:65%
    }
  
    .filmPageAccordion{
      font-size: 3vw;
      font-weight: 700;
    }
  }

  
@media only screen and (min-width: 769px) {
  #filmPage1{
    font-size: 3vw;
    font-weight: 900;
    width:65%
  }

  .filmPageAccordion{
    font-size: 2vw;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1025px) {
  #filmPage1{
    font-size: 2.5vw;
    font-weight: 900;
    width:50%
  }

  .filmPageAccordion{
    font-size: 1.5vw;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1201px) {
  #filmPage1{
    font-size: 2vw;
    font-weight: 900;
    width:40%
  }

  .filmPageAccordion{
    font-size: 1.5vw;
    font-weight: 700;
  }
}