.filmPage{
    background-image: url("./d6ulawk-bc3663ed-9e3c-4ab5-9efb-7d2f9ffd9928.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
    min-height: 75vh
  }
  
  @media only screen and (max-width: 300px) {
  
    #filmPage1{
      font-size: 4.7vw;
      font-weight: 900;
      width:75%
    }
  
    .filmPageAccordion{
      font-size: 4.5vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 301px) {
  
    #filmPage1{
      font-size: 3.8vw;
      font-weight: 900;
      width:65%
    }
  
    .filmPageAccordion{
      font-size: 3.2vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 701px) {
    #filmPage1{
      font-size: 2.7vw;
      font-weight: 900;
      width:50%
    }
  
    .filmPageAccordion{
      font-size: 2.2vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 1005px) {
    #filmPage1{
      font-size: 2.2vw;
      font-weight: 900;
      width:40%
    }
  
    .filmPageAccordion{
      font-size: 1.8vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 1201px) {
    #filmPage1{
      font-size: 1.5vw;
      font-weight: 900;
      width:40%
    }
  
    .filmPageAccordion{
      font-size: 1.5vw;
      font-weight: 700;
    }
  }
  