

.modalMain{
    font-size: 2.5vw;
}

.modalComment{
    font-size: 2vw;
}

.modalCloseButton{
    font-size: 1vw
}

@media only screen and (max-width: 600px) {
    /* #modalNotBecky1{
        font-size: 4.5vw;
    } */

    .modalMain{
        font-size: 5vw;
    }
    
    .modalComment{
        font-size: 4vw;
    }

    .modalCloseButton{
        font-size: 4vw
    }
}