.foodPage{
  background-image: url("./istockphoto-495654239-612x612.jpg");
  min-height: 75vh
}

#foodPage1{
  font-size: 2vw;
  font-weight: 900;
  width:40%
}

#foodPage2{
  font-size: 1.8vw;
  font-size: 700;
}

#foodPage3{
  font-size: 1.8vw;
  font-size: 700;
}

@media only screen and (max-width: 600px) {
  #foodPage1{
    font-size: 4vw;
    font-weight: 900;
    width:65%
  }

  #foodPage2{
    font-size: 3.5vw;
    font-weight: 700;
  }

  #foodPage3{
    font-size: 3.5vw;
    font-weight: 700;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  #foodPage1{
    font-size: 2vw;
    font-weight: 900;
    width:65%
  }
} */