.foodTableComponent{
    overflow: auto;
    /* width: auto; */
    height: 80vmin; 
    
    }
  
    .foodTable{
      background-color: #FFC107; /*bootstrap warning*/
      table-layout: fixed;
      word-wrap: break-word;
    }
  
    .tableHead{
      position: sticky;
      top: 0;
    }

    .foodTableBody{

    }  
    
    tr:nth-child(odd) {
      background-color:#ffff99; 
      /*warning subtle*/
     }

     tr:nth-child(even) {
      background-color:#FFC107; 
      /*warning subtle*/
     }

    tr:hover {
      background-color: aqua;
    }

    @media only screen and (max-width: 300px) {
      .foodTableHeadFoot{
        font-size: 3.2vw;
        font-weight: 500;
      }
    }
    
    @media only screen and (min-width: 301px) {
      .foodTableHeadFoot{
        font-size: 2.7vw;
        font-weight: 500;
      }
    }
    
    @media only screen and (min-width: 701px) {
      .foodTableHeadFoot{
        font-size: 1.7vw;
        font-weight: 500;
      }
    }
    
    @media only screen and (min-width: 1001px) {
      .foodTableHeadFoot{
        font-size: 1.5vw;
        font-weight: 500;
      }
    }
    
    @media only screen and (min-width: 1201px) {
      .foodTableHeadFoot{
        font-size: 1.3vw;
        font-weight: 500;
      }
    }
    