/* .foodTableComponent{
    overflow: auto; */
    /* width: auto; */
    /* height: 60vmin; 
    
    } */
  
    .foodTable{
      background-color: #FFC107; /*bootstrap warning*/
      table-layout: fixed;
      word-wrap: break-word;
    }
  
    /* .tableHead{
      position: sticky;
      top: 0;
    } */

    /* .foodTableBody{

    }   */

  
    
    tr:nth-child(odd) {
      background-color:#ffff99; 
      /*warning subtle*/
     }

     tr:nth-child(even) {
      background-color:#FFC107; 
      /*warning subtle*/
     }

    tr:hover {
      background-color: aqua;
    }

    @media only screen and (max-width: 300px) {
      .foodTableHead{
        font-size: 2.9vw;
        font-weight: 500;
      } 

      .foodTableFoot{
        font-size: 2.6vw;
        font-weight: 500;
        /* vertical-align: center;
        position: sticky;
        bottom: 0 */
      } 

      .foodTableComponent{
        overflow: auto;
        height: 120vmin; 
  
    }
      
    }
    
    @media only screen and (min-width: 301px) {
      /* .foodTableHeadFoot{
        font-size: 2.7vw;
        font-weight: 500;
      } */

      .foodTableHead{
        font-size: 2.9vw;
        font-weight: 500;
      }


      .foodTableFoot{
        font-size: 2.1vw;
        font-weight: 500;
        /* vertical-align: center;
        position: sticky;
        bottom: 0 */
      } 

      .foodTableComponent{
        overflow: auto;
        height: 90vmin; 
  
    }
    }

    @media only screen and (min-width: 501px){
      .foodTableHead{
        font-size: 2.2vw;
        font-weight: 500;
      }


      .foodTableFoot{
        font-size: 1.8vw;
        font-weight: 500;
        /* vertical-align: center;
        position: sticky;
        bottom: 0 */
      } 
      
      .foodTableComponent{
        overflow: auto;
        height: 50vmin;
      }
    }
    
    @media only screen and (min-width: 701px) {
      /* .foodTableHeadFoot{
        font-size: 1.7vw;
        font-weight: 500;
      } */

      .foodTableHead{
        font-size: 2vw;
        font-weight: 500;
      }


      .foodTableFoot{
        font-size: 1.4vw;
        font-weight: 500;
        /* vertical-align: center;
        position: sticky;
        bottom: 0 */
      } 

      .foodTableComponent{
        overflow: auto;
        /* width: auto; */
        height: 35vmin; 
        }
    }
    
    @media only screen and (min-width: 1001px) {
      /* .foodTableHeadFoot{
        font-size: 1.5vw;
        font-weight: 500;
      } */

      .foodTableHead{
        font-size: 1.5vw;
        font-weight: 500;
      }


      .foodTableFoot{
        font-size: 1.1vw;
        font-weight: 500;
        /* vertical-align: center;
        position: sticky;
        bottom: 0 */
      } 

      .foodTableComponent{
        overflow: auto;
        /* width: auto; */
        height: 37vmin; 
        }
    }
    
    @media only screen and (min-width: 1201px) {
      /* .foodTableHeadFoot{
        font-size: 1.3vw;
        font-weight: 500;
      } */

      .foodTableHead{
        font-size: 1.1vw;
        font-weight: 500;
      }


      .foodTableFoot{
        font-size: 0.8vw;
        font-weight: 500;
        /* vertical-align: center;
        position: sticky;
        bottom: 0 */
      } 

      .foodTableComponent{
        overflow: auto;
        /* width: auto; */
        height: 40vmin; 
        }
    }
    