
@media only screen and (max-width: 300px) {

    /* .visitTableItemvisit{
        font-size: 2.1vw;
    } */

    #visitTableVisitTextarea{
        font-size: 2.1vw;
        height: 11vw;
        scrollbar-width: thin;
    }

    .visitTableOpinion{
        font-size: 2.5vw;
    }

    #visitTableButton{
        font-size: 3vw;
    }

    /* .visitTableRecommend{
        font-size: 2.1vw;
    } */
   
    .visitTableStayedCheckbox{
        height: 3.3vw;
        width: 3.3vw;
    }

    #visitTableTrashButton{
        font-size: 3.5vw;
    }
  }
  
  @media only screen and (min-width: 301px) {

    /* .visitTableItemvisit{
        font-size: 2.1vw;
    } */

    #visitTableVisitTextarea{
        font-size: 2.1vw;
        height: 9vw;
        scrollbar-width: thin;
    }

    .visitTableOpinion{
        font-size: 2.5vw;
    }

    #visitTableButton{
        font-size: 2.5vw;
    }
    /* .visitTableRecommend{
        font-size: 2.1vw;
    } */
   
    .visitTableStayedCheckbox{
        height: 2.8vw;
        width: 2.8vw;
    }

    #visitTableTrashButton{
        font-size: 3vw;
    }
  }
  
  @media only screen and (min-width: 701px) {

    /* .visitTableItemvisit{
        font-size: 1.7vw;
    } */

    #visitTableVisitTextarea{
        font-size: 1vw;
        height: 6vw;
        scrollbar-width: thin;
    }

    .visitTableOpinion{
        font-size: 1.4vw;
    }

    #visitTableButton{
        font-size: 1.5vw;
    }

    /* .visitTableRecommend{
        font-size: 2vw;
    } */
   
    .visitTableStayedCheckbox{
        height: 1.5vw;
        width: 1.5vw;
    }

    #visitTableTrashButton{
        font-size: 2.2vw;
    }
  }
  
  @media only screen and (min-width: 1001px) {
/* 
    .visitTableItemvisit{
        font-size: 1.3vw;
    } */

    #visitTableVisitTextarea{
        font-size: 1vw;
        height: 5vw;
        scrollbar-width: thin;
    }

    .visitTableOpinion{
        font-size: 1.1vw;
    }

    #visitTableButton{
        font-size: 1.2vw;
    }

    /* .visitTableRecommend{
        font-size: 1.5vw;
    } */
   
    .visitTableStayedCheckbox{
        height: 1.2vw;
        width: 1.2vw;
    }

    #visitTableTrashButton{
        font-size: 1.8vw;
    }
  }
  
  @media only screen and (min-width: 1201px) {

    /* .visitTableItemvisit{
        font-size: 1vw;
    } */

    #visitTableVisitTextarea{
        font-size: 0.8vw;
        height: 3.7vw;
        scrollbar-width: thin;
    }

    .visitTableOpinion{
        font-size: 0.9vw;
    }

    #visitTableButton{
        font-size: 1vw;
    }

    /* .visitTableRecommend{
        font-size: 1.2vw;
    } */

    .visitTableStayedCheckbox{
        height: 1vw;
        width: 1vw;
    }

    #visitTableTrashButton{
        font-size: 1.5vw;
    }

  }
  