#readLikeButton{
    background-color: teal;
}

 #readDislikeButton{
    background-color: tomato;
}


@media only screen and (max-width: 300px) {

    #readHelperButton{
        font-size: 3.3vw;
    }
    #readHelperTitle{
        font-size: 4.5vw;
        font-weight: 700
    }
    .readHelperText{
        font-size: 3.8vw;
    }

    .readHelperHeading{
        font-size: 4vw;
    }



    #readLikeButton{
        font-size: 3.5vw;
    }
     #readLikeTitle{
        font-size: 4.5vw;
        font-weight: 700
    }



    .readHeading{
        font-size: 4vw;
    }
    .readList{
        font-size: 3.8vw;
    }


    
    #readDislikeButton{
        font-size: 3.5vw;
    }
    #readDislikeTitle{
        font-size: 4.5vw;
        font-weight: 700
    }
}

@media only screen and (min-width: 301px) {

    #readHelperButton{
        font-size: 2.3vw;
    }
    #readHelperTitle{
        font-size: 3.7vw;
        font-weight: 700
    }
    .readHelperText{
        font-size: 2.3vw;
    }
    .readHelperHeading{
        font-size: 2.5vw;
    }    



    #readLikeButton{
        font-size: 2.3vw;
    }    
    #readLikeTitle{
        font-size: 3.7vw;
        font-weight: 700
    }



    .readHeading{
        font-size: 3vw;
    }
    .readList{
        font-size: 2.5vw;
    }


    #readDislikeButton{
        font-size: 2.3vw;
    }
    #readDislikeTitle{
        font-size: 3.7vw;
        font-weight: 700
    }
}

@media only screen and (min-width: 701px) {

    #readHelperButton{
        font-size: 1.4vw;
    }

    #readHelperTitle{
        font-size: 2.5vw;
        font-weight: 700
    }   
    .readHelperText{
        font-size: 1.7vw;
    }

    .readHelperHeading{
        font-size: 2vw;
    }

 


    #readLikeButton{
        font-size: 1.4vw;
    } 
    #readLikeTitle{
        font-size: 2.5vw;
        font-weight: 700
    }



    .readHeading{
        font-size: 2.3vw;
    }

    .readList{
        font-size: 2vw;
    }




    #readDislikeButton{
        font-size: 1.4vw;
    }
    #readDislikeTitle{
        font-size: 2.5vw;
        font-weight: 700
    }
}

@media only screen and (min-width: 1005px) {
    #readHelperButton{
        font-size: 1.1vw;
    }    
    #readHelperTitle{
        font-size: 2vw;
        font-weight: 700
    }
    .readHelperText{
        font-size: 1.2vw;
    }

    .readHelperHeading{
        font-size: 1.5vw;
    }



    #readLikeButton{
        font-size: 1.1vw;
    }
    #readLikeTitle{
        font-size: 2vw;
        font-weight: 700
    }


    .readHeading{
        font-size: 2vw;
    }
    .readList{
        font-size: 1.5vw;
    }    


    #readDislikeButton{
        font-size: 1.1vw;
    }
    #readDislikeTitle{
        font-size: 2vw;
        font-weight: 700
    }
  
}

@media only screen and (min-width: 1201px) {

    #readHelperButton{
        font-size: 0.8vw;
    }    
    #readHelperTitle{
        font-size: 1.3vw;
        font-weight: 700
    }
    .readHelperText{
        font-size: 0.9vw;
    }

    .readHelperHeading{
        font-size: 1vw;
    }


    #readLikeButton{
        font-size: 0.8vw;
    }
    #readLikeTitle{
        font-size: 1.3vw;
        font-weight: 700
    }


    .readHeading{
        font-size: 1.5vw;
    }
    .readList{
        font-size: 1.1vw;
    }


    #readDislikeButton{
        font-size: 0.8vw;
    }
    #readDislikeTitle{
        font-size: 1.3vw;
        font-weight: 700
    }

}