
@media only screen and (max-width: 300px) {

    /* .tryTableItemtry{
        font-size: 2.1vw;
    } */

    #tryTableTryTextarea{
        font-size: 2.1vw;
        height: 11vw;
        scrollbar-width: thin;
    }

    .tryTableOpinion{
        font-size: 2.5vw;
    }

    #tryTableButton{
        font-size: 3vw;
    }

    /* .tryTableRecommend{
        font-size: 2.1vw;
    } */
   
    .tryTableTriedItCheckbox{
        height: 3.3vw;
        width: 3.3vw;
    }

    #tryTableTrashButton{
        font-size: 3.5vw;
    }
  }
  
  @media only screen and (min-width: 301px) {

    /* .tryTableItemtry{
        font-size: 2.1vw;
    } */

    #tryTableTryTextarea{
        font-size: 2.1vw;
        height: 9vw;
        scrollbar-width: thin;
    }

    .tryTableOpinion{
        font-size: 2.5vw;
    }

    #tryTableButton{
        font-size: 2.5vw;
    }
    /* .tryTableRecommend{
        font-size: 2.1vw;
    } */
   
    .tryTableTriedItCheckbox{
        height: 2.8vw;
        width: 2.8vw;
    }

    #tryTableTrashButton{
        font-size: 3vw;
    }
  }
  
  @media only screen and (min-width: 701px) {

    /* .tryTableItemtry{
        font-size: 1.7vw;
    } */

    #tryTableTryTextarea{
        font-size: 1vw;
        height: 6vw;
        scrollbar-width: thin;
    }

    .tryTableOpinion{
        font-size: 1.4vw;
    }

    #tryTableButton{
        font-size: 1.5vw;
    }

    /* .tryTableRecommend{
        font-size: 2vw;
    } */
   
    .tryTableTriedItCheckbox{
        height: 1.5vw;
        width: 1.5vw;
    }

    #tryTableTrashButton{
        font-size: 2.2vw;
    }
  }
  
  @media only screen and (min-width: 1001px) {
/* 
    .tryTableItemtry{
        font-size: 1.3vw;
    } */

    #tryTableTryTextarea{
        font-size: 1vw;
        height: 5vw;
        scrollbar-width: thin;
    }

    .tryTableOpinion{
        font-size: 1.1vw;
    }

    #tryTableButton{
        font-size: 1.2vw;
    }

    /* .tryTableRecommend{
        font-size: 1.5vw;
    } */
   
    .tryTableTriedItCheckbox{
        height: 1.2vw;
        width: 1.2vw;
    }

    #tryTableTrashButton{
        font-size: 1.8vw;
    }
  }
  
  @media only screen and (min-width: 1201px) {

    /* .tryTableItemtry{
        font-size: 1vw;
    } */

    #tryTableTryTextarea{
        font-size: 0.8vw;
        height: 3.7vw;
        scrollbar-width: thin;
    }

    .tryTableOpinion{
        font-size: 0.8vw;
    }

    #tryTableButton{
        font-size: 1vw;
    }

    /* .tryTableRecommend{
        font-size: 1.2vw;
    } */

    .tryTableTriedItCheckbox{
        height: 1vw;
        width: 1vw;
    }

    #tryTableTrashButton{
        font-size: 1.5vw;
    }

  }
  