
@media only screen and (max-width: 300px) {

  .foodFloatingLabel{
    font-size: 3vw;
  }

  /* .foodFormInput{
    font-size: 1.5vw;
  } */

  #foodFormButton{
    background-color: mediumpurple;
    font-size: 3vw;
    font-weight: 700;
  }
}

@media only screen and (min-width: 301px) {

  .foodFloatingLabel{
    font-size: 3.2vw;
  }

  /* .foodFormInput{
    font-size: 3.5vw;
  } */

  #foodFormButton{
    background-color: mediumpurple;
    font-size: 2.5vw;
    font-weight: 700;
  }

}

@media only screen and (min-width: 501px) {
  .foodFloatingLabel{
    font-size: 2.5vw;
  }

  /* .foodFormInput{
    font-size: 3.7vw;
  } */

  #foodFormButton{
    font-size: 2.2vw;
  }

}

@media only screen and (min-width: 701px) {
  .foodFloatingLabel{
    font-size: 2.2vw;
  }

  /* .foodFormInput{
    font-size: 3.7vw;
  } */

  #foodFormButton{
    font-size: 2vw;
  }

}

@media only screen and (min-width: 1005px) {
  .foodFloatingLabel{
    font-size: 1.5vw;
  }

  .foodFormInput{
    font-size: 3.7vw;
  }

  #foodFormButton{
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1201px) {
  .foodFloatingLabel{
    font-size: 1.2vw;
  }

  .foodFormInput{
    font-size: 3.7vw;
  }

  #foodFormButton{
    font-size: 1.2vw;
  }
}

