

@media only screen and (max-width: 600px) {
  /* #foodForm{
    font-size: 2.5vw;
  } */
  #foodFloatingLabel1{
    font-size: 2.5vw;
  }

  #foodFloatingLabel2{
    font-size: 2.5vw;
  }

  #foodFloatingLabel3{
    font-size: 2.5vw;
  }

  #foodFormButton{
    font-size: 2.5vw;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #foodFloatingLabel1{
    font-size: 2vw;
  }

  #foodFloatingLabel2{
    font-size: 2vw;
  }

  #foodFloatingLabel3{
    font-size: 2vw;
  }

  #foodFormButton{
    font-size: 2vw;
  }
}