
@media only screen and (max-width: 480px) {

  .foodFloatingLabel{
    font-size: 2.5vw;
  }

  .foodFormInput{
    font-size: 3vw;
  }

  #foodFormButton{
    font-size: 2.7vw;
  }
}

@media only screen and (min-width: 481px) {

  .foodFloatingLabel{
    font-size: 2.7vw;
  }

  .foodFormInput{
    font-size: 3.5vw;
  }

  #foodFormButton{
    font-size: 2.7vw;
  }

}

@media only screen and (min-width: 769px) {
  .foodFloatingLabel{
    font-size: 2vw;
  }

  .foodFormInput{
    font-size: 3.7vw;
  }

  #foodFormButton{
    font-size: 2.2vw;
  }

}

@media only screen and (min-width: 1025px) {
  .foodFloatingLabel{
    font-size: 1.5vw;
  }

  .foodFormInput{
    font-size: 3.7vw;
  }

  #foodFormButton{
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1201px) {
  .foodFloatingLabel{
    font-size: 1.2vw;
  }

  .foodFormInput{
    font-size: 3.7vw;
  }

  #foodFormButton{
    font-size: 1.2vw;
  }
}

