
@media only screen and (max-width: 300px) {

    .filmTableItemFilm{
        font-size: 2vw;
    }

    #filmTableFilmTextarea{
        font-size: 2.1vw;
        height: 11vw;
        scrollbar-width: thin;
    }

    .filmTableOpinion{
        font-size: 2.5vw;
    }

    #filmTableButton{
        font-size: 3vw;
    }

    /* .filmTableRecommend{
        font-size: 2.1vw;
    } */
   
    .filmTableWatchedCheckbox{
        height: 3.3vw;
        width: 3.3vw;
    }

    #filmTableTrashButton{
        font-size: 3.5vw;
    }
  }
  
  @media only screen and (min-width: 301px) {

    .filmTableItemFilm{
        font-size: 2.1vw;
    }

    #filmTableFilmTextarea{
        font-size: 2.1vw;
        height: 9vw;
        scrollbar-width: thin;
    }

    .filmTableOpinion{
        font-size: 2.5vw;
    }

    #filmTableButton{
        font-size: 2.5vw;
    }
    /* .filmTableRecommend{
        font-size: 2.1vw;
    } */
   
    .filmTableWatchedCheckbox{
        height: 2.8vw;
        width: 2.8vw;
    }

    #filmTableTrashButton{
        font-size: 3vw;
    }
  }
  
  @media only screen and (min-width: 701px) {

    .filmTableItemFilm{
        font-size: 1vw;
    }

    #filmTableFilmTextarea{
        font-size: 1vw;
        height: 6vw;
        scrollbar-width: thin;
    }

    .filmTableOpinion{
        font-size: 1.4vw;
    }

    #filmTableButton{
        font-size: 1.5vw;
    }

    .filmTableRecommend{
        font-size: 2vw;
    }
   
    .filmTableWatchedCheckbox{
        height: 1.5vw;
        width: 1.5vw;
    }

    #filmTableTrashButton{
        font-size: 2.2vw;
    }
  }
  
  @media only screen and (min-width: 1001px) {

    .filmTableItemFilm{
        font-size: 1vw;
    }

    #filmTableFilmTextarea{
        font-size: 1vw;
        height: 5vw;
        scrollbar-width: thin;
    }

    .filmTableOpinion{
        font-size: 1.1vw;
    }

    #filmTableButton{
        font-size: 1.2vw;
    }

    /* .filmTableRecommend{
        font-size: 1.5vw;
    } */
   
    .filmTableWatchedCheckbox{
        height: 1.2vw;
        width: 1.2vw;
    }

    #filmTableTrashButton{
        font-size: 1.8vw;
    }
  }
  
  @media only screen and (min-width: 1201px) {

    .filmTableItemFilm{
        font-size: 0.8vw;
    }

    #filmTableFilmTextarea{
        font-size: 0.8vw;
        height: 3.7vw;
        scrollbar-width: thin;
    }

    .filmTableOpinion{
        font-size: 0.99vw;
    }

    #filmTableButton{
        font-size: 1vw;
    }

    /* .filmTableRecommend{
        font-size: 1.2vw;
    } */

    .filmTableWatchedCheckbox{
        height: 1vw;
        width: 1vw;
    }

    #filmTableTrashButton{
        font-size: 1.5vw;
    }

  }
  