/* .homePage{ */
    /* height: 100vh;
    padding: 2px; */
    /* max-height: 73vh;
    overflow-y: scroll;
} */

@media only screen and (max-width: 300px) {
    .homePage{
        max-height: 74vh;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 301px) {
    .homePage{
        max-height: 75vh;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 501px) {
    .homePage{
        max-height: 70vh;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 701px) {
    .homePage{
        max-height: 69vh;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 901px) {
    .homePage{
        max-height: 61vh;
        overflow-y: scroll;
    }
}

@media only screen and (min-width: 1001px) {
    .homePage{
        max-height: 67vh;
        overflow-y: scroll;
    }
}

/* @media only screen and (min-width: 1201px){
    .homePage{
        max-height: 67vh;
        overflow-y: scroll;
    }
} */

@media only screen and (min-width: 1601px){
    .homePage{
        max-height: 65vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* ::-webkit-scrollbar {
    width: 1vw;
    background-color: #aaa;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #000;
  } */
  
  /* body {
    height: 5000px;
  } */