
.headerImagePortfolio{
        width: 4vw;
    }

#headerTitle{
        font-size: 2vw;
    }

.headerImageLogin{
        width: 3vw;
    }
@media only screen and (max-width: 600px) {
    .headerImagePortfolio{
        width: 7.5vw;
    }

    #headerTitle{
        font-size: 4.5vw;
    }

    .headerImageLogin{
        width: 6.5vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {

} */