
@media only screen and (max-width: 300px) {
    .headerImagePortfolio{
        width: 12vw;
    }

    #headerTitle{
        font-size: 5.8vw;
    }

    .headerImageLogin{
        width: 10vw;
        /* transform: scaleX(-1); */
    }
}

@media only screen and (min-width: 301px) {

    .headerImagePortfolio{
        width: 9vw;
    }

    #headerTitle{
        font-size: 5vw;
    }

    .headerImageLogin{
        width: 8vw;
        /* transform: scaleX(-1); */
    }


}

/* @media only screen and (min-width: 450px) {
    .headerImagePortfolio{
        width: 8vw;
    }

    #headerTitle{
        font-size: 5vw;
    }

    .headerImageLogin{
        width: 7vw; */
        /* transform: scaleX(-1); */
    /* }
} */

@media only screen and (min-width: 701px){
    .headerImagePortfolio{
        width: 6.5vw;
    }

    #headerTitle{
        font-size: 3.7vw;
    }

    .headerImageLogin{
        width: 5.5vw;
        /* transform: scaleX(-1); */
    }
}

@media only screen and (min-width: 1025px) {
    .headerImagePortfolio{
        width: 4vw;
    }

    #headerTitle{
        font-size: 3vw;
    }

    .headerImageLogin{
        width: 3.5vw;
    }
}

@media only screen and (min-width: 1201px) {
    .headerImagePortfolio{
        width: 3vw;
    }

    #headerTitle{
        font-size: 2vw;
    }

    .headerImageLogin{
        width: 2.9vw;
        /* transform: scaleX(-1); */
    }
}
