
@media only screen and (max-width: 480px) {
    .headerImagePortfolio{
        width: 9vw;
    }

    #headerTitle{
        font-size: 4.5vw;
    }

    .headerImageLogin{
        width: 9vw;
        transform: scaleX(-1);
    }
}

@media only screen and (min-width: 481px) {

    .headerImagePortfolio{
        width: 8vw;
    }

    #headerTitle{
        font-size: 4.5vw;
    }

    .headerImageLogin{
        width: 6.5vw;
        transform: scaleX(-1);
    }


}

@media only screen and (min-width: 769px) {
    .headerImagePortfolio{
        width: 4.5vw;
    }

    #headerTitle{
        font-size: 3.5vw;
    }

    .headerImageLogin{
        width: 5vw;
        transform: scaleX(-1);
    }
}

@media only screen and (min-width: 1025px) {
    .headerImagePortfolio{
        width: 4vw;
    }

    #headerTitle{
        font-size: 3vw;
    }

    .headerImageLogin{
        width: 3.5vw;
    }
}

@media only screen and (min-width: 1201px) {
    .headerImagePortfolio{
        width: 3.5vw;
    }

    #headerTitle{
        font-size: 2.3vw;
    }

    .headerImageLogin{
        width: 3vw;
        transform: scaleX(-1);
    }
}
