
@media only screen and (max-width: 480px) {
    .footerPortfolio{
        width: 9vw;
    }

    #footerTitle{
        font-size: 4.5vw;
    }

    .footerLogin{
        width: 9vw;
    }
}

@media only screen and (min-width: 481px) {

    .footerPortfolio{
        width: 8vw;
    }

    #footerTitle{
        font-size: 4.5vw;
    }

    .footerLogin{
        width: 6.5vw;
    }


}

@media only screen and (min-width: 769px) {
    .footerPortfolio{
        width: 4.5vw;
    }

    #footerTitle{
        font-size: 3.5vw;
    }

    .footerLogin{
        width: 5vw;
    }
}

@media only screen and (min-width: 1025px) {
    .footerPortfolio{
        width: 4vw;
    }

    #footerTitle{
        font-size: 3vw;
    }

    .footerLogin{
        width: 3.5vw;
    }
}

@media only screen and (min-width: 1201px) {
    .footerPortfolio{
        width: 3.5vw;
    }

    #footerTitle{
        font-size: 2.3vw;
    }

    .footerLogin{
        width: 3vw;
    }
}
