
@media only screen and (max-width:300px){
    .footerImagePortfolio{
        width: 10vw;
    }

    #footerTitle{
        font-size: 5.8vw;
    }

    .footerImageLogin{
        width: 12vw;
        transform: scaleX(-1);
    }
}

@media only screen and (min-width:301px){
    .footerImagePortfolio{
        width: 8vw;
    }

    #footerTitle{
        font-size: 5vw;
    }

    .footerImageLogin{
        width: 9vw;
        transform: scaleX(-1);
    }
}


@media only screen and (min-width:701px){
    .footerImagePortfolio{
        width: 5.5vw;
    }

    #footerTitle{
        font-size: 3.7vw;
    }

    .footerImageLogin{
        width: 6.5vw;
        transform: scaleX(-1);
    }
}

@media only screen and (min-width: 1025px) {
    .footerImagePortfolio{
        width: 3.5vw;
    }

    #footerTitle{
        font-size: 3vw;
    }

    .footerImageLogin{
        width: 4vw;
        transform: scaleX(-1);
    }
}

@media only screen and (min-width: 1201px) {
    .footerImagePortfolio{
        width: 3.3vw;
    }

    #footerTitle{
        font-size: 2.5vw;
    }

    .footerImageLogin{
        width: 3.6vw;
        transform: scaleX(-1);
    }
}
