.visitPage{
    background-image: url("./il_fullxfull.1200560059_4ldk.avif");
    /* background-repeat: no-repeat; */
    background-size: contain;
    min-height: 75vh
  }
  
  @media only screen and (max-width: 300px) {
  
    #visitPage1{
      font-size: 4.7vw;
      font-weight: 900;
      width:75%
    }
  
    .visitPageAccordion{
      font-size: 4.5vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 301px) {
  
    #visitPage1{
      font-size: 3.8vw;
      font-weight: 900;
      width:65%
    }
  
    .visitPageAccordion{
      font-size: 3.2vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 701px) {
    #visitPage1{
      font-size: 2.7vw;
      font-weight: 900;
      width:50%
    }
  
    .visitPageAccordion{
      font-size: 2.2vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 1005px) {
    #visitPage1{
      font-size: 2.2vw;
      font-weight: 900;
      width:40%
    }
  
    .visitPageAccordion{
      font-size: 1.8vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 1201px) {
    #visitPage1{
      font-size: 1.5vw;
      font-weight: 900;
      width:40%
    }
  
    .visitPageAccordion{
      font-size: 1.5vw;
      font-weight: 700;
    }
  }
  