
.loginButton{
    font-size: 1.8vw;
}

/* .loginForm{
    font-size: 3vw;     
} */

.loginFormInputLabel{
    font-size: 1.2vw;   
}



@media only screen and (max-width: 600px) {
    #loginPage{
        width: 80vw;
    }

    .loginButton{
        font-size: 4vw;
    }

    .loginFormInputLabel{
        font-size: 3vw;   
    }

    .loginFormInput{
        font-size: 3.5vw;
    }


    /* #loginForm{
        font-size: 8vw;
    } */


}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    
} */