#loginFormButton1{
    font-size: 2.5vw;
}

#loginFormButton2{
    font-size: 2.5vw;
}


@media only screen and (max-width: 600px) {
    #loginForm1{
        width: 90vw;
    }

    #loginForm2{
        font-size: 3vw;     
    }

    #loginFormButton1{
        font-size: 4vw;
    }

    #loginFormButton2{
        font-size: 4vw;
    }

    #loginForm3{
        font-size: 3vw;
    }

    #loginForm4{
        font-size: 3vw;
    }

}


/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
    
} */