.tryTableComponent{
    overflow: auto;
    /* width: auto; */
    height: 80vmin;      
    }

    .tryTable{
        /* background-color: #FFC107; bootstrap warning */
        table-layout: fixed;
        word-wrap: break-word;
      }
    
      .tableHead{
        position: sticky;
        top: 0;
      }
    
      /* .tableHeader{
        
      } */
    
      /* .foodTableBody{
        background-color: darkgreen;
      } */
    
      
      /* tr:nth-child(odd) {
        background-color:#ffff99;  */
        /*warning subtle*/
       /* } */
  
       /* tr:nth-child(even) {
        background-color:#FFC107;  */
        /*warning subtle*/
       /* } */
  
      tr:hover {
        background-color: aqua;
      }
  
      @media only screen and (max-width: 480px) {
        .tryTableHeadFoot{
          font-size: 2.5vw;
          font-weight: 500;
        }
      }
      
      @media only screen and (min-width: 481px) {
        .tryTableHeadFoot{
          font-size: 2vw;
          font-weight: 500;
        }
      }
      
      @media only screen and (min-width: 769px) {
        .tryTableHeadFoot{
          font-size: 1.7vw;
          font-weight: 500;
        }
      }
      
      @media only screen and (min-width: 1025px) {
        .tryTableHeadFoot{
          font-size: 1.5vw;
          font-weight: 500;
        }
      }
      
      @media only screen and (min-width: 1201px) {
        .tryTableHeadFoot{
          font-size: 1.3vw;
          font-weight: 500;
        }
      }
      
      
  