.telePage{
    background-image: url("./istockphoto-1215833412-612x612.jpg");
    /* background-repeat: no-repeat; */
    background-size: contain;
    min-height: 75vh
  }
  
  @media only screen and (max-width: 300px) {
  
    #telePage1{
      font-size: 4.5vw;
      font-weight: 900;
      width:75%
    }
  
    .telePageAccordion{
      font-size: 4.5vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 301px) {
  
    #telePage1{
      font-size: 3.1vw;
      font-weight: 900;
      width:50%
    }
  
    .telePageAccordion{
      font-size: 2.9vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 701px) {
    #telePage1{
      font-size: 2.2vw;
      font-weight: 900;
      width:40%
    }
  
    .telePageAccordion{
      font-size: 1.9vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 1005px) {
    #telePage1{
      font-size: 1.9vw;
      font-weight: 900;
      width:40%
    }
  
    .telePageAccordion{
      font-size: 1.5vw;
      font-weight: 700;
    }
  }
  
  @media only screen and (min-width: 1201px) {
    #telePage1{
      font-size: 1.2vw;
      font-weight: 900;
      width:40%
    }
  
    .telePageAccordion{
      font-size: 1.1vw;
      font-weight: 700;
    }
  }
  